@model SystemHostingPortal.Models.HomeModel

@{
    ViewBag.Title = "Home > Index";
}

@section style {
    <style>
        .logentry li {
            margin-top: 5px;
        }
    </style>
}

<h1 class="title">@ViewBag.Title</h1>

<fieldset>
    <legend>Latest log entries</legend>
    <ol class="logentry">
    @foreach (string entry in Model.Log)
    {
        <li>@entry</li>
    }
    </ol>
</fieldset>
