@model ColumbusPortal.Models.CaptoModel
@{
    ViewBag.Title = "Capto > Service > Customer Report";
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to create a data usage report</p>

@using (Html.BeginForm("CPOCustomerReport", "Capto"))
{
    <fieldset>
        <legend>Customer Report</legend>
        <table>
            <tr>
                <td colspan="2">@if (Model.Message != null)
                { <div class="message">@Model.Message</div> }</td>
            </tr>
            @if (Model.MessageList.Count > 0)
            {
                foreach (string message in Model.MessageList)
                {
                    <tr>
                        <td colspan="2"><div class="message">@message</div></td>
                    </tr>
                }
            }
            <tr>
                <td class="lefttd">Organization</td>
                <td class="middletd">
                    <select name="organization">
                        @foreach (string organization in Model.CPOOrganizations)
                        {
                            <option @if (Model.ActionFailed) { if (organization == Model.CPOCustomerReport.Organization) { @: selected="selected"
                                                                            } }>
                                @organization
                                                                        </option>
                        }
                    </select>
                </td>

            </tr>
        </table>
        <br />
        <input type="submit" class="button" class:hover="button:hover" value="Create report" id="buttonSubmit" onclick="buttonSubmit.disabled = true; StartSubmitButtonMessage(); this.form.submit()" />
        <!--<input type="submit" class="buttontest2" value="Create report" id="buttonSubmit" onclick="buttonSubmit.disabled = true; StartSubmitButtonMessage(); this.form.submit()" />-->

    </fieldset>
}