@model ColumbusPortal.Models.CaptoModel
@{
    ViewBag.Title = "Office365 > Enable Federation";
}
@section script {
    <script>
        $(document).ready(function () {
            $("select[name=organization]").change(function () {
                $("#acceptedDomain").html("Loading...");
                CPOGetAcceptedDomain();
            });

            $("#acceptedDomain").html("Loading...");
            CPOGetAcceptedDomain();
        });

    </script>
}
<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to enable federation on a verified domain in the customers Office 365 tenant.</p>
@using (Html.BeginForm("CPOEnableFederation", "Capto"))
{
    <fieldset>
        <legend>Enable domain for federation</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Organization</td>
                <td class="middletd">
                    <select name="organization">
                        @foreach (string organization in Model.CPOOrganizations)
                        {
                            <option @if (Model.ActionFailed) { if (organization == Model.CPOEnableFederation.Organization) { @: selected="selected"
                                                                                                            } }>
                                @organization
                            </option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="lefttd">Accepted emaildomains:</td>
                <td class="middletd">
                    <div id="acceptedDomain"></div>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>Domain<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    <input name="domain" placeholder="testdomæne.dk" @if (Model.ActionFailed) { @: value="@Model.CPOEnableFederation.Domain"
                                                                                                                                        } />
                    <div class="description">
                        <p class="descriptiontext"></p>
                        <p>This will enable federation on an already added and verified domain in the customers tenant.</p>
                        <p>The customer will need it's own directory sync server, for it's seperate OU..</p>
                    </div>
                </td>
            </tr>

        </table>

        <br />
        <input type="submit" class="button" class:hover="button:hover" id="buttonSubmit" value="Enable Federation" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit(); " />
    </fieldset>

}