@model ColumbusPortal.Models.CaptoModel
@{
    ViewBag.Title = "Capto > Organization > Enable Customer";
}
@section script {

}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to Enable the customer.</p>

@using (Html.BeginForm("CPOEnableCustomer", "Capto"))
{
    <fieldset>
        <legend>Enable Customer</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td class="lefttd tooltip"><span>Organization<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    <select name="organization">
                        @foreach (string organization in Model.CPOOrganizations)
                        {
                            <option @if (Model.ActionFailed) { if (organization == Model.CPOEnableCustomer.Organization) { @: selected="selected"
                                                                        } }>
                                @organization
                                                                    </option>
                        }
                    </select>
                    <div class="description">
                        <p class="descriptiontext">When run, this will enable the organization. It will do the opposite of the Disable Customer function.</p>
                        <p></p>
                        <p class="descriptiontext">Previous disabled AD users will still be disabled</p>
                    </div>
                </td>
            </tr>

        </table>
        <br />
        <input type="submit" class="button" class:hover="button:hover" id="buttonSubmit" value="Enable Customer" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit(); " />

    </fieldset>

}