@model ColumbusPortal.Models.CaptoModel
@{
    ViewBag.Title = "Capto > Mail > Get Device Report > Success";
}
<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to get a report of all connected devices to a mail account</p>

<fieldset>
    <legend>Device Report</legend>
    <table>
        <tr>
            <td class="lefttd">Who?</td>
            <td class="righttd">@Model.CPODeviceReport.UserPrincipalName</td>
        </tr>
    </table>

    @Html.Raw(Model.CPODeviceReport.ReportHtml)
</fieldset>