@model SystemHostingPortal.Models.MailModel
@{
    ViewBag.Title = "Mail > Remove Domain";
}
@section script {
    <script>
        window.onload = function () {
            document.forms[0].removeasemail.checked = true;
            // you can change the 0 to a string of the form's name
        };
        $(document).ready(function () {
            GetDomainSelect();
            $("select[name=organization]").change(function () {
                $("select[name=domainname]").html('<option>loading...</option>');
                GetDomainSelect();
            });
        });
    </script>
}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to remove a domain for a customer.</p>
<br />

@using (Html.BeginForm("RemoveDomain", "Mail"))
{
    <fieldset>
        <legend>Remove Domain</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td class="lefttd">Organization</td>
                <td class="middletd">
                    <select name="organization">
                        @foreach (string organization in Model.Organizations)
                        {
                            <option @if (Model.ActionFailed) { if (organization == Model.Domain.Organization) { @: selected="selected"
                                                                                                        } }>
                                @organization
                            </option>
                        }
                    </select>
                    <span class="mandatory">*</span>
                </td>
            </tr>
            <tr>
                <td class="lefttd tooltip"><span>Current Domains<i class="material-icons infoicon">info</i></span></td>
                <td class="middletd">
                    <select name="domainname"><option>loading...</option></select>
                    <span class="mandatory">*</span>

                    <div class="description">
                        <p class="descriptiontext">
                            This will remove a domain for the customer, and a UPN on the local on-prem AD.
                        </p>
                    </div>

                </td>
            </tr>
            <tr>
                <td class="lefttd">Remove domain in Office365</td>
                <td>
                    <input name="removeasemail" type="checkbox" @if (Model.ActionFailed) { if (Model.Domain.RemoveasEmail) { @: checked="checked"
                                                                                                                      } } />
                </td>
            </tr>

        </table>
        <br />
        <input type="submit" class="button" class:hover="button:hover" value="Remove Domain" id="buttonSubmit" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); StartSubmitButtonMessage(); this.form.submit()" />
    </fieldset>
}