
@{
    ViewBag.Title = "Log > Changelog";
}

<h1 class="title">@ViewBag.Title</h1>
<p>A short changelog over the additions to the website.</p>
<br />

<fieldset>
    <legend>Changelog</legend>
    <table>
        <tr>
            <td>30-10-2017:</td>
            <td class="middletd">Fixed Capto Account/Company.</td>
        </tr>
        <tr>
            <td>30-10-2017:</td>
            <td class="middletd">Fixed redirection bug, when logging in after timeout has occured.</td>
        </tr>
        <tr>
            <td>26-10-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"Force option to Dirsync as service sometimes become unresponsive."</span></b>.</td>
        </tr>
        <tr>
            <td>26-10-2017:</td>
            <td class="middletd">Updated <b><span class="spanfeature">"Enterprise/Hybrid deployment with server 2016"</span></b>.</td>
        </tr>
        <tr>
            <td>25-10-2017:</td>
            <td class="middletd">Improved <b><span class="spanfeature">"Update Conf, which now supports $null values"</span></b>.</td>
        </tr>
        <tr>
            <td>24-10-2017:</td>
            <td class="middletd">Updated <b><span class="spanfeature">"Client side validation" on several sub sites</span></b>.</td>
        </tr>
        <tr>
            <td>24-10-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"automatic Azure app registration"</span></b>.</td>
        </tr>
        <tr>
            <td>20-10-2017:</td>
            <td class="middletd">Combined <b><span class="spanfeature">all organization types under Create Organization</span></b>.</td>
        </tr>
        <tr>
            <td>12-10-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"Crayon CSP creation and Set Mailforward"</span></b>.</td>
        </tr>
        <tr>
            <td>10-10-2017:</td>
            <td class="middletd">Improved <b><span class="spanfeature">"navigation bar. It is now done with javascript."</span></b>.</td>
        </tr>
        <tr>
            <td>09-10-2017:</td>
            <td class="middletd">implemented <b><span class="spanfeature">"Intune logic and several functions. Still in development though."</span></b>.</td>
        </tr>
        <tr>
            <td>21-09-2017:</td>
            <td class="middletd">Improved <b><span class="spanfeature">"VM list performance by approx 600%. It is now instant under scheduling options!"</span></b>.</td>
        </tr>
        <tr>
            <td>20-09-2017:</td>
            <td class="middletd">Introduced <b><span class="spanfeature">"Removal of current schedules"</span></b>.</td>
        </tr>
        <tr>
            <td>01-09-2017:</td>
            <td class="middletd"><b>Under Development!</b> lots of Azure logic behind the scenes! Look forward to:<p>
                <b><span class="spanfeature">"Azure support in general"</span></b><p>
                <b><span class="spanfeature">"Hybrid scenarios where the site expands and collapses features"</span></b><p>
                <b><span class="spanfeature">"Cloud ONLY organizations and so on :)"</span></b>
            </td>
        </tr>
        <tr>
            <td>25-08-2017:</td>
            <td class="middletd">Introduced <b><span class="spanfeature">"Back to top arrow!", "Out of office reply"</span></b>.</td>
        </tr>
        <tr>
            <td>10-08-2017:</td>
            <td class="middletd">Fixed small bugs in authentication.</td>
        </tr>
        <tr>
            <td>09-08-2017:</td>
            <td class="middletd">Introduced <b><span class="spanfeature">"Backend for Columbus Platform Access!"</span></b>.</td>
        </tr>
        <tr>
            <td>11-07-2017:</td>
            <td class="middletd">Introduced <b><span class="spanfeature">"OWIN authentication, and new design"</span></b>. Performance increase in a lot of places!</td>
        </tr>
        <tr>
            <td>29-06-2017:</td>
            <td class="middletd">Introduced <b><span class="spanfeature">"SQL backbone for most features."</span></b>. Performance increase in a lot of places!</td>
        </tr>
        <tr>
            <td>29-06-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"Current Schedules to featureset"</span></b>.</td>
        </tr>
        <tr>
            <td>28-06-2017:</td>
            <td class="middletd">Bugfixes and design fixes.</td>
        </tr>
        <tr>
            <td>27-06-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"SCOM alert Features"</span></b>.</td>
        </tr>
        <tr>
            <td>26-06-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"ADD/REMOVE/RESET Admin users"</span></b>.</td>
        </tr>
        <tr>
            <td>21-06-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"DynamicMemory option for all Level30 users on Expand CPU/RAM"</span></b>.</td>
        </tr>
        <tr>
            <td>21-06-2017:</td>
            <td class="middletd">Implemented default date/time in calendar function, for when you schedule something.</td>
        </tr>
        <tr>
            <td>20-06-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"Schedule Reboot"</span></b>.</td>
        </tr>
        <tr>
            <td>20-06-2017:</td>
            <td class="middletd">Moved Add/Remove Domain to "Organization", as it makes more sense.</td>
        </tr>
        <tr>
            <td>19-06-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">"Start Directory Sync"</span></b>.</td>
        </tr>
        <tr>
            <td>19-06-2017:</td>
            <td class="middletd">Rewrote SCVMM PS code. Result is <b><span class="spanfeature">increased performance on Expand VHD/CPU/RAM!</span></b>.</td>
        </tr>
        <tr>
            <td>16-06-2017:</td>
            <td class="middletd">Simple design changes / bugfixes.</td>
        </tr>
        <tr>
            <td>15-06-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">Auto start Directory Sync on features.</span></b>.</td>
        </tr>
        <tr>
            <td>02-06-2017:</td>
            <td class="middletd">Added <b><span class="spanfeature">Azure Automation Log</span></b>.</td>
        </tr>
        <tr>
            <td>30-05-2017:</td>
            <td class="middletd">Simple design changes / bugfixes.</td>
        </tr>
        <tr>
            <td>30-05-2017:</td>
            <td class="middletd">Rewrote some of the code, added <b><span class="spanfeature">Calendar Permissions</span></b>.</td>
        </tr>
        <tr>
            <td>29-05-2017:</td>
            <td class="middletd">Rewrote some of the code, added <b><span class="spanfeature">Create Dist. Group.</span></b>.</td>
        </tr>
        <tr>
            <td>23-05-2017:</td>
            <td class="middletd">Bugfixes (Remove Domain).</td>
        </tr>
        <tr>
            <td>23-05-2017:</td>
            <td class="middletd">Bugfixes/Design fixes (sorting of top links).</td>
        </tr>
        <tr>
            <td>22-05-2017:</td>
            <td class="middletd">Added<b><span class="spanfeature"> Create Mailbox and Ext user.</span></b></td>
        </tr>
        <tr>
            <td>10-05-2017:</td>
            <td class="middletd">Bugfixes, styling and <b><span class="spanfeature">Remove User.</span></b></td>
        </tr>
        <tr>
            <td>08-05-2017:</td>
            <td class="middletd">Design update, to make room for new features.</td>
        </tr>
        <tr>
            <td>07-05-2017:</td>
            <td class="middletd">Feature Update <b><span class="spanfeature">(Verify Office 365 Domain).</span></b></td>
        </tr>
        <tr>
            <td>02-05-2017:</td>
            <td class="middletd">Re-wrote Exchange and O365 modules.</td>
        </tr>
    </table>
</fieldset>
