@model ColumbusPortal.Models.OrganizationModel
@{
    ViewBag.Title = "Organization > Create ALL Admins";
}
@section script {
    <script>
        $(document).ready(function () {
            GetAdminUsers();
            $("#adminusers").html("Loading...");
        });

        function info() {
            $.confirm({
                theme: 'light',
                type: 'green',
                typeAnimated: true,
                title: 'INFO:',
                content: 'All admin users will now be created on ' +  +
                         '<p>Please be patient..',
                buttons: {
                    OK: function () {
                        StartSubmitButtonMessage();
                        document.forms[0].submit();

                    },
                }
            });
        }
    </script>

}

<h1 class="title">@ViewBag.Title</h1>
<p>Use this form to create all admin accounts for an organization.</p>
<br />

@using (Html.BeginForm("CreateAllAdmins", "Organization"))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Create Admins</legend>
        <table>
            <tr>
                <td colspan="2">
                    <div id="messageDiv">
                        @if (Model.Message != null)
                        {
                            <div class="message">@Model.Message <p><small><a href="javascript:ClearErrors()">Clear errors</a></small></p></div>
                        }
                    </div>
                    <div id="okMessageDiv">
                        @if (Model.OKMessage.Count > 0)
                        {
                            <div class="okmessage">
                                @foreach (string msg in Model.OKMessage)
                                {
                                    <p>@msg</p>
                                }
                                <p><small><a href="javascript:ClearMessages()">Clear messages</a></small></p>
                            </div>
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lefttd"><span>Organization</span></td>
                <td class="middletd">
                    <select name="organization">
                        @foreach (string organization in Model.Organizations)
                        {
                            <option @if (Model.ActionFailed) { if (organization == Model.CreateALLAdmins.Organization) { @: selected="selected"
                                                                                                                                                                                } }>
                                @organization
                            </option>
                        }
                    </select>
                    <span class="mandatory">*</span>
                </td>
            </tr>

        </table>
        <br />
        <input type="submit" class="button" id="buttonSubmit" value="Create Admins" onclick="buttonSubmit.disabled = true; ClearMessages(); ClearErrors(); info()" />
    </fieldset>
    <fieldset>
        <legend>Current Admins</legend>
        <table>
            <tr>
                <td class="middletd">
                    <div class="middletd" id="adminusers">Loading..</div>
                </td>
            </tr>
        </table>
    </fieldset>

}