@model ColumbusPortal.Models.AzureModel
@{
    ViewBag.Title = "Azure > CreatePSAppRegistration > Total Success";
}

<h1 class="title">@ViewBag.Title</h1>
<p>Admin consent SUCCESS!</p>

<fieldset>
    <legend>Success</legend>
    <div>
        <p style="color: green;">"Admin Consent" has been given, you can now begin using the azure functions on this site.</p>
        
    </div>
    <br />
    <div>
        <p>All app information has been written to the customer conf.</p>
        <br />
    </div>
</fieldset>